  <article>
    <div class="contents">
    </div>
    <div class="topic">
      <ul>
        <li>TwitterCloneのトップ画面です</li>
        <li>bootstrapで綺麗にするのはできませんした・・・</li>
      </ul>
    </div>
  </article>